/*nav bar settings*/
a:visited { color:navy; }
a:hover { color:chocolate; }
a { 
    text-decoration: none;
    position:flex;
    display:center;
    border: transparent;
    border-radius: 50%;
    justify-content: center;
    align-items:space-between;
    margin: 20px;
}
/*social heading settings*/
.socials{
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 128, 0.603);
}
/*github link*/
.git:hover{
    transform:rotate(360deg);
    transition:2s;
}
/*twitter link*/
.twi:hover{
    transform:rotate(360deg);
    transition: 2s;
}
/*linkedin link*/
.lin:hover{
    transform:rotate(360deg);
    transition: 2s;
} 
/*heading*/
h1{
     color:navy;
     text-align:center;
 }

 /* font for paragraph*/
 p{
     font-family: 'Hubballi', cursive;
 }
 /*heading underline*/
 .box {
    border: solid navy;
    margin: 3px;
}
 /* container*/
.motherbox{
    display: flex;
    color: navy;
    font-weight: bold;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;    
}
/* all my boxes*/
.box1{
    width:50%;
    margin:0;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.698);     
}
.box2{
    width:40%;
    margin:0;   
}
.box3{
    width:40%;
}
/*tomb img*/
#tomb{
    width:46vw;
}
/*us img*/
#us{
    width: 45vw;
    height:60vw;
    border-radius: 5%;
}
/*sca img*/
#sca{
    width: 45vw;
}
 /*footer*/
.footer{
    width:100vw;
    height: 10vh;
    display:flex;
    box-sizing: border-box;
    background:rgba(0, 0, 128, 0.603);
}
/*media querie for footer and text*/
@media (max-width: 500px){
    .footer{
        height: 6vh;
    }
    body{
        font-weight: bold;
    }
}